* binary
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.3mf filter=lfs diff=lfs merge=lfs -text
*.step filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.dxf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.odt filter=lfs diff=lfs merge=lfs -text
*.brd filter=lfs diff=lfs merge=lfs -text
*.cam filter=lfs diff=lfs merge=lfs -text
*.sch filter=lfs diff=lfs merge=lfs -text
*.epf filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.dru filter=lfs diff=lfs merge=lfs -text
*.kicad_sch filter=lfs diff=lfs merge=lfs -text
*.kicad_wks filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/AVBoard/fp-info-cache filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/AVBoard/fp-lib-table filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.kicad_sym filter=lfs diff=lfs merge=lfs -text
*.kicad_dru filter=lfs diff=lfs merge=lfs -text
*.kicad_pcb filter=lfs diff=lfs merge=lfs -text
*.kicad_prl filter=lfs diff=lfs merge=lfs -text
*.kicad_pro filter=lfs diff=lfs merge=lfs -text
*.kicad_mod filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/AVBoard/sym-lib-table filter=lfs diff=lfs merge=lfs -text
*.dsn filter=lfs diff=lfs merge=lfs -text
*.frb filter=lfs diff=lfs merge=lfs -text
*.rules filter=lfs diff=lfs merge=lfs -text
*.ses filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/AVBoard_smt/avboard_smt/fp-info-cache filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/AVBoard_smt/avboard_smt/fp-lib-table filter=lfs diff=lfs merge=lfs -text
*.ipc filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/AVBoard_smt/avboard_smt/sym-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/Cartridges/Flash2M/fp-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/Cartridges/Flash2M/sym-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/Cartridges/Flash2M_FastBank/Flash2M_FastBank/fp-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/Cartridges/Flash2M_FastBank/Flash2M_FastBank/sym-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/Cartridges/Flash2M_center_hole/fp-lib-table filter=lfs diff=lfs merge=lfs -text
*.gbr filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/Cartridges/Flash2M_center_hole/sym-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/Controller/controller_original/fp-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/Controller/controller_original/sym-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/Controller/controller_v3/fp-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/Controller/controller_v3/sym-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/LogicBoard/fp-info-cache filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/LogicBoard/fp-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/LogicBoard/sym-lib-table filter=lfs diff=lfs merge=lfs -text
*.gbrjob filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/LogicBoard_smt/fp-info-cache filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/LogicBoard_smt/fp-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/LogicBoard_smt/sym-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/Power/fp-info-cache filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/Power/fp-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/Power/sym-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/Power_smt/fp-info-cache filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/Power_smt/fp-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/Power_smt/sym-lib-table filter=lfs diff=lfs merge=lfs -text
*.bak filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/tools/cartflasher/fp-info-cache filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/tools/cartflasher/fp-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/tools/cartflasher/sym-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/tools/cartflasher_2/flasher2/fp-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/tools/cartflasher_2/flasher2/sym-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/tools/cartflasher_shield/fp-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/tools/cartflasher_shield/sym-lib-table filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/tools/test_squid/test_squid/fp-lib-table filter=lfs diff=lfs merge=lfs -text
/Hardware/KiCad/tools/test_squid/test_squid/sym-lib-table filter=lfs diff=lfs merge=lfs -text
*.lbr filter=lfs diff=lfs merge=lfs -text
*.htm filter=lfs diff=lfs merge=lfs -text
*.stp filter=lfs diff=lfs merge=lfs -text
*.scr filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.mnb filter=lfs diff=lfs merge=lfs -text
*.mnt filter=lfs diff=lfs merge=lfs -text
*.odt# filter=lfs diff=lfs merge=lfs -text
*.f3d filter=lfs diff=lfs merge=lfs -text
